{% extends 'base.html' %}

{% block title %}
    وبلاگ
{% endblock title %}
    
{% block content %}
    <section class="container my-5">
    <h2 class="mb-4">آخرین مقالات و اخبار</h2>
    <div class="row">
        
    {% for post in post_list %}
            
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="{{ post.picture.url }}" class="card-img-top" alt="{{ post.title }}">
                <div class="card-body">
                    <a href="{% url 'post-detail' post.slug %}"><h5 class="card-title">{{ post.title }}</h5></a>
                    <p class="card-text"></p>
                    <a href="{% url 'post-detail' post.slug %}" class="btn btn-outline-primary"></i>ادامه مطلب</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    <div class="text-center mt-4">
        <a href="#" class="btn btn-primary"><i class="fas fa-newspaper"></i> مشاهده همه پست‌ها</a>
    </div>
</section>

{% endblock content %}
    