{% extends 'base.html' %}
{% block title %}
    
{% endblock title %}
    
{% block content %}
    <section class="container my-5">
    <div class="row">
        <div class="col-lg-8">
            <div class="container">
                <div class="row">
                    <div class="page-content single_content">
                        <div class="col-md-9">
                            <div class="content_bx">
                            <img src="{{ post.picture.url }}" alt="{{ post.title }}">
                            <div class="meta">
                                <span><i class="fa fa-clock-o"></i>{{ post.date }}</span>
                                <span><i class="fa fa-comment-o"></i>  نظر</span>
                                <span><i class="fa fa-pencil-square-o"></i>{{ post.author }}</span>
                                <!-- <span><i class="fa fa-archive"></i> </a></span> -->
                            </div>
                            <h1>{{ post.title }}</h1>
                            <hr>
                            <div class="p_text">
                                {{ post.body }}
                            </div>
                            <div class="post_tags"> 
                                
                            </div>
                            
                            <!-- <div class="comments_box">
                                    <section class="comments">
                                        <h4 class="mb-3">نظرات کاربران</h4>
                                        <div class="mb-3">
                                            <strong>سارا محمدی:</strong>
                                            <p>مطلب بسیار مفید و کاربردی بود. ممنون!</p>
                                        </div>
                                        <div class="mb-3">
                                            <strong>امیر حسینی:</strong>
                                            <p>تمرین روزانه واقعا خیلی کمک کرد، تجربه شخصی.</p>
                                        </div>

                                        <form class="mt-4">
                                            <h5>نظر خود را ثبت کنید</h5>
                                            <div class="mb-3">
                                                <input type="text" class="form-control" placeholder="نام شما">
                                            </div>
                                            <div class="mb-3">
                                                <textarea class="form-control" rows="4" placeholder="نظر شما"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane"></i> ارسال نظر</button>
                                        </form>
                                    </section>
                            </div> -->
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>

            
        </div>

        <div class="col-md-3">
            <div class="search_box">
                <form action="" method="get">
                    <input type="text" name="s" placeholder="متن را وارد کنید ..">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <article>
                <title></title>
                <span></span>
                <data></data>
            </article>
            </div>
        </div>
</section>

{% endblock content %}
    