*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    transition: all 0.5s;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
@font-face{
    font-family: 'shop';
    src: url(fonts/Vazirmatn[wght].woff2) format(woff2);
}
header{
    background-color: #21aeea;
}
body{
    background-color: #faf4f4;
    font-size: 15px;
    font-family: 'shop';
}
header .main-menu ul li{
    display: inline-block;
    margin: 4px;
    position: relative;
}
header .main-menu ul{
    text-align: center;
    margin: 0;
    padding: 0;
}
header .main-menu ul li a{
    display: inline-block;
    padding: 15px 5px;
    color:#eee;
    position: relative;
}
header .main-menu ul li >ul>li>a{
    position: relative;
    transition: all 0.4s;
    right: 0;
}
header .main-menu ul li >ul>li>a::before{
    position: absolute;
    content: '';
    height: 2.3px;
    top: 15px;
    right: 0;
    width: 0;
    background-color: #888;
    transition: all 0.4s;
}
header .main-menu ul li >ul>li>a:hover::before{
    position: absolute;
    content: '';
    width: 7px;
    transition: all 0.3s;
}
header .main-menu ul li >ul>li>a:hover{
    right: 8px;
    transition: all 0.3s;
}
header .main-menu ul li ul{
    position: absolute;
    top: 45px;
    right: -38px;
    width: 150px;
    background-color:#fff ;
    text-align: center;
    opacity: 0;
    transition: all 0.3s;
    visibility: hidden;
}
header .main-menu ul >li:hover >ul{
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
    padding: 8px;
}
header .main-menu ul li ul li{
    display: block;
}
header .main-menu ul li ul li a{
    color: #717171;
    padding: 5px 10px;
}
header .main-menu ul li >ul >li >ul{
    top: -4px;
    right: 100%;
}