{% extends 'base.html' %}

{% block title %}
    ورود
{% endblock title %}
    
{% block content %}

    <!-- <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form> -->


    <section class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="card-title text-center mb-4"><i class="fas fa-sign-in-alt me-2"></i>ورود به حساب</h4>
                    <form method="post" action="{% url 'login' %}">
                        <div class="mb-3">
                         {% csrf_token %}
                         {{ form.as_p }}   
                        <button type="submit" class="btn btn-primary w-100"><i class="fas fa-sign-in-alt me-2"></i>ورود</button>
                    </form>
                    <p class="text-center mt-3">
                        حساب کاربری ندارید؟ <a href="signup.html">ثبت‌نام کنید</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
    